@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    /* Gradient */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    min-height: 520px;    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 736px;
    height: 512px;
    display: flex;
    border-radius: 1.9rem;
    box-shadow: 15px 15px 80px -25px rgba(0, 0, 0, 0.15);
}

/* RESULT AREA STYLES */
.left-side {
    width: 100%;
    max-width: 368px;
    height: 100%;
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-radius: 1.9rem;
    background: linear-gradient(180deg, hsl(252, 94%, 63%) 0%, rgba(46, 43, 233, 1) 100%);
}

.left-title {
    font-weight: 500;
    color: var(--light-lavender);
}

.left-circle {
    width: 200px;
    height: 200px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    background: linear-gradient(0deg, hsl(246, 86%, 57%) 0%, hsl(255, 71%, 46%) 100%);
}

.left-circle-num1 {
    font-size: 4.5rem;
    color: var(--white);
}

.left-circle-num2 {
    margin-top: -.5rem;
    font-size: 1.12rem;
    font-weight: 500;
    color: var(--light-lavender);
    opacity: .6;
}

.left-text {
    margin-top: .8rem;
    padding: 1rem;
}

.left-p-title {
    font-size: 2rem;
    font-weight: 500;
    color: var(--white);
}

.left-p {
    margin-top: .8rem;
    font-size: 1.1rem;
    color: var(--light-lavender);
}





.right-side {
    width: 100%;
    max-width: 368px;
    height: fit-content;
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}

.right-title {
    width: 100%;
    margin-bottom: .2rem;
    color: var(--dark-gray-blue);
}

.card-reaction,
.card-memory,
.card-verbal,
.card-visual {
    width: 100%;
    padding: 1rem;
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
}

.card-reaction {
    background-color: hsla(0, 100%, 67%, 0.08);
}

.card-memory {
    background-color: hsla(39, 100%, 56%, 0.08);
}

.card-verbal {
    background-color: hsla(166, 100%, 37%, 0.08);
}

.card-visual {
    background-color: hsla(234, 85%, 45%, 0.08);
}

.left-card,
.right-card {
    display: flex;
    align-items: center;
}

.right-btn {
    width: 288px;
    height: 56px;
    margin-top: 1.5rem;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    border: none;
    border-radius: 56px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.card-icons {
    margin-right: 5px;
}

.right-btn:hover {
    background: linear-gradient(180deg, hsl(252, 94%, 63%) 0%, rgba(46, 43, 233, 1) 100%);
}





/* MEDIA QUERY */
@media screen and (max-width: 768px) {

    body {
        height: auto;
    }

    .container {
        height: auto;
        flex-direction: column;
        box-shadow: none;
    }

    .container,
    .left-side,
    .right-side {
        max-width: none;
    }

    .left-side {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        border-radius: 0 0 1.9rem 1.9rem;
    }

    .right-btn {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {

    .right-side {
        padding: 1.5rem 1.5rem 3.5rem 1.5rem;
    }

    .left-side {
        padding: 2rem .5rem;
    }

    .left-p {
        font-size: 1rem;
    }
}